* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    font-size: 18px;
    color: #fff;
    background: #191a1c;
}

@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
    color: #fff;
    background: linear-gradient(180deg, #FF6F7A 0%, #DA3C92 100%);
    background-size: 100% 400%;
    background-attachment: fixed;
    animation: gradient 20s ease infinite;
    position: relative;

}

section {
    width: 100%;
    position: relative;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

input:not([type="radio"]),
textarea,
button,
select,
option {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 15vh;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        opacity: 0.2;
    }
}

.wrapper {
    margin: 0 auto;
    width: 91%;
    position: relative;
    height: 100%;

    & * {
        z-index: 2;
    }
}

.title {
    font-weight: 800;
    font-size: 64px;
    line-height: 87.5%;
    font-family: 'Montserrat Alternates', sans-serif;
}

.side-picture {
    width: 33.5%;
    height: 100%;
    position: relative;
    border-radius: 2px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2%;
    cursor: pointer;
    transition: opacity .5s ease;

    &:hover {
        .side-picture__arr {
            transform: translate(5px, 5px);
        }
    }

    &__pic {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        border-radius: 2px;
        mix-blend-mode: normal;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__label {
        position: relative;
        z-index: 2;
        font-weight: bold;
        width: 90%;
        font-size: 48px;
        line-height: 102.5%;
    }

    &__arr {
        position: relative;
        z-index: 2;
        width: 66px;
        height: 66px;
        transition: all .3s ease-out;
    }
}

/* HEADER */

.animation-area {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 0;
    background: transparent;

    &__figures {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        li {
            position: absolute;
            background: rgba(255, 255, 255, 0.3);
            animation: animate 25s linear infinite;
            bottom: -150px;
            color: rgba(89, 87, 87, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(1) {
                left: 3%;
                width: 32px;
                border-radius: 100%;
                height: 32px;
                animation-delay: 0s;
                animation-duration: 10s;
            }

            &:nth-child(2) {
                left: 10%;
                width: 77px;
                height: 77px;
                border-radius: 11px;
                animation-delay: 2s;
                animation-duration: 15s;
                font-size: 12px;
            }

            &:nth-child(3) {
                left: 20%;
                width: 61px;
                height: 61px;
                border-radius: 100%;
                animation-delay: 4s;
                font-size: 18px;
            }

            &:nth-child(4) {
                left: 30%;
                width: 61px;
                height: 61px;
                border-radius: 9px;
                animation-delay: 0s;
                animation-duration: 14s;
                font-size: 18px;
            }

            &:nth-child(5) {
                left: 45%;
                width: 61px;
                height: 61px;
                animation-delay: 0s;

                border-radius: 9px;
                font-size: 18px;
            }

            &:nth-child(6) {
                left: 55%;
                width: 93.37px;
                height: 94px;
                animation-delay: 3s;
                border-radius: 14px;
                font-size: 15.04px;
                animation-duration: 20s;
            }

            &:nth-child(7) {
                left: 60%;
                width: 77px;
                height: 77px;
                border-radius: 10.9421px;
                animation-delay: 7s;
                font-size: 12px;
            }

            &:nth-child(8) {
                right: 3%;
                width: 93.37px;
                height: 94px;
                border-radius: 13.7867px;
                animation-delay: 15s;
                animation-duration: 45s;
                font-size: 15.04px;

            }
        }
    }
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;

    }
}

.menu {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header {
    &__title {
        font-weight: 800;
        font-size: 24px;
        line-height: 95.5%;
        font-family: 'Montserrat Alternates', sans-serif;
    }

    &__nav {
        width: 64%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }

    &__menu {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 70%;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        &-item {
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            opacity: 0.7;
            transition: all .3s ease;

            &:hover {
                opacity: 1;

            }
        }

        &-link {
            height: 100%;
            font-size: 18px;
            line-height: 115.5%;
            color: #fff;
            display: flex;
            align-items: center;
        }
    }

    &__phone {
        font-weight: 600;
        font-size: 24px;
        line-height: 138.5%;
        color: #fff;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__content {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 68vh;
        position: absolute;
        top: 0;
        right: 0;
        bottom: -10%;
        left: 0;
        margin: auto;

        &-labels {
            width: 50%;
        }

        &-title {
            font-weight: 800;
            font-size: 80px;
            line-height: 101.5%;
            margin-bottom: 50px;
            font-family: 'Montserrat Alternates', sans-serif;
        }

        &-subtitle {
            font-size: 32px;
            line-height: 150%;
        }

        &-pic {
            background: url(img/header-pic.png) center/cover no-repeat, linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #2D2C2C 100%), linear-gradient(180deg, #FF6F7A 0%, #DA3C92 100%);
        }
    }
}


/* END HEADER */

/* WORDS */

.words {
    height: 40vh;

    .wrapper {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 32px;
        line-height: 190%;
    }
}

/* END WORDS */

/* PROGRAMMING AND DESIGN */

.programming,
.design {

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__container {
        width: 100%;
    }

    &__pic {
        position: relative;
        padding: 0 4% 4%;
        height: 60vh;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &-pic {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(img/programming-bg.png) top left/cover no-repeat, #DA3C92;
            opacity: 0.7;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 80px;
        margin-bottom: 48px;
        position: relative;
        z-index: 3;
        font-family: 'Montserrat Alternates', sans-serif;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 150%;
        position: relative;
        z-index: 3;
    }

    &__info {
        background: #2D2C2C;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        padding: 2% 4%;
    }

    &__duration,
    &__date {
        width: 35%;

        &-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 157.5%;
            opacity: 0.5;
        }

        &-terms,
        &-lessons {
            font-weight: 500;
            margin-bottom: 5px;
            font-size: 18px;
            line-height: 157.5%;
        }

        &-terms span {
            opacity: 0.8;
        }
    }

    &__order-btn {
        width: 30%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        align-items: center;


        &:hover {
            .green-arr-right {
                transform: translateX(15px);
            }
        }
    }

    &__order {
        &-label {
            margin-right: 50px;
            color: #9CFF94;
            background: linear-gradient(90deg, #9CFF94 0%, #FAFF00 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
        }
    }
}

.green-arr-right {
    width: 34.76px;
    height: 34.75px;
    transition: all .3s ease;
}

/* END PROGRAMMING AND DESIGN */

/* DESIGN */

.design {
    &__pic {
        &-pic {
            background: url(img/design-bg.png) top left/cover no-repeat, #DA3C92;

        }
    }
}

/* END DESIGN */

/* FUTURE */

.future {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        width: 100%;
        height: 70vh;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-pic {
            background: url(img/future-pic.png) top left/cover no-repeat, linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #2D2C2C 100%), linear-gradient(180deg, #FF6F7A 0%, #DA3C92 100%);
        }

        &-picture {
            width: 33%;
            height: 100%;
        }
    }

    &__labels {
        width: 40%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__title,
    &__slogan {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: bold;
        font-size: 46px;
        line-height: 130%;
    }

    &__text {
        font-size: 24px;
        line-height: 140%;
    }
}

/* END FUTURE */

/* TEACHERS */

.teachers {

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        width: 100%;
        height: 75vh;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav_left {
        margin-right: 50px;
    }

    &__nav-arr {
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

    &__slider {
        width: 100%;
    }

    &__slide {
        position: relative;
        opacity: 0.7;
        transition: all 0.5s ease;
        overflow: hidden;

        &_hovered {
            opacity: 1;

            .teachers__teacher-info {
                transform: translateY(0%);
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            object-position: center;
        }
    }

    &__teacher {
        &-info {
            position: absolute;
            transform: translateY(100%);
            bottom: 0;
            left: 0;
            width: 100%;
            background: #2D2C2C;
            padding: 24px 30px;
            transition: all 0.5s ease;
        }

        &-name {
            font-weight: bold;
            font-size: 18px;
            line-height: 148%;
            margin-bottom: 7px;
        }

        &-position,
        &-exp {
            font-size: 16px;
            line-height: 1.8;
        }

        &-position {
            width: 100%;
            margin-bottom: 7px;
        }
    }

    .slick-slide {
        margin: 0 30px;
    }

    .slick-list {
        margin: 0 -30px;
    }
}

/* END TEACHERS */

/* CONTACTS */

.contacts {
    background: rgba(96, 49, 71, 0.2);

    .wrapper {
        width: 100%;
    }

    &__content {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__info {
        width: 50%;
        padding: 10vh 8% 12vh 5%;
        height: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__contacts {
        height: 60%;
        padding-bottom: 7vh;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__addinfo {

        height: 40%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;

        &-text {
            font-size: 18px;
            line-height: 157.5%;
        }
    }

    &__questions {
        font-size: 24px;
        line-height: 163.5%;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 10%;
    }

    &__phone {
        display: inline-block;
        font-weight: bold;
        font-size: 48px;
        line-height: 138.5%;
        color: #fff;
        margin-bottom: 10px;
    }

    &__soc {
        font-size: 18px;
        line-height: 138.5%;
        font-weight: bold;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        width: 58%;

        &-link {
            transition: all .3s ease;
            color: #fff;
            opacity: 0.7;
            padding: 20px 0px;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__map {
        width: 50%;
        height: 100%;
    }
}

/* END CONTACTS */

/* MODAL */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 580px;
    width: 40%;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s ease;
    transition-delay: 0.1s;

    &-wrapper {
        position: relative;
        padding: 60px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    &_active {
        z-index: 50;
        opacity: 1;
        visibility: visible;

        &.success-modal {
            z-index: 51;
        }
    }

    &:not(.modal_framed) {
        .modal__close {
            display: block;
        }

        .modal__arr {
            display: none;
        }
    }

    &__close {
        position: absolute;
        top: 60px;
        right: 60px;
        width: 50px;
        height: 50px;
        display: none;
        cursor: pointer;
    }

    &__arr {
        position: absolute;
        top: 60px;
        right: 60px;
        transform: rotate(-90deg) translate(0px, 0px);
        width: 67px;
        height: 67px;
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
            transform: rotate(-90deg) translate(5px, 5px);
        }
    }
}

.btn {
    width: 100%;
    padding: 32px 15px;
    background: linear-gradient(180deg, #FBFF20 0%, #9CFF94 100%);
    font-size: 18px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;

    &_disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
}

.success-modal {
    background: #2D2C2C;

    .modal-wrapper {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__icon {
        width: 185px;
        height: 187px;
        margin-bottom: 28px;
    }

    &__title {
        font-weight: bold;
        font-size: 32px;
        line-height: 120.5%;
    }

    &__text {
        font-size: 18px;
        line-height: 150%;
        margin: 22px 0 45px;
    }
}

.order-modal {
    background: #2D2C2C;

    &__form {
        margin-top: calc(67px + 25px);
    }

    &__input-container {
        position: relative;
        border-bottom: 1px solid white;
        margin-bottom: 33px;

        &:before {
            content: '';
            position: absolute;
            display: block;
            color: #fff;
            left: 0;
            top: 0;
            width: 100%;
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
            z-index: -1;
            transition: all .3s ease;
        }

        &_name:before {
            content: 'Имя';
        }

        &_age:before {
            content: 'Возраст';
        }

        &_phone:before {
            content: 'Телефон';
        }

        &_error {
            .order-modal__error-msg {
                opacity: 1;
            }
        }

        &_focused {
            &:before {
                top: -10px;
                font-size: 12px;
            }

            &:after {
                opacity: 1;
            }
        }

        &_error {
            .order-modal__error-msg {
                opacity: 1;
                color: #ff1744;
            }
        }

        &_course {
            border: none;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__course {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        position: relative;

        & * {
            cursor: pointer;
        }

        &-radio {
            display: none;
            width: 27px;
            height: 27px;
            margin-right: 15px;
            background: transparent;

            &:checked+label:after {
                opacity: 1;
            }
        }

        &-label {
            font-weight: bold;
            font-size: 18px;
            line-height: 150%;
            margin-left: 45px;

            &:before {
                content: "";
                display: inline-block;
                border-radius: 100%;
                width: 27px;
                height: 27px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: transparent;
                border: 2px solid #fff;
                transition: all .3s ease;
            }

            &:after {
                content: "";
                display: inline-block;
                border-radius: 100%;
                width: 17px;
                height: 17px;
                position: absolute;
                left: 7px;
                top: 3px;
                opacity: 0;
                transition: all .3s ease;
                background: linear-gradient(180deg, #FBFF20 0%, #9CFF94 100%);
            }
        }
    }

    &__input {
        background: transparent;
        border: none;

        position: relative;
        outline: none;
        width: 100%;
        height: 45px;
        color: #fff;
        font-size: 24px;
    }

    option {
        background: transparent !important;
    }

    &__option {
        background: transparent;
    }

    &__error-msg {
        position: absolute;
        left: 0;
        bottom: -20px;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: .05em;
        /* color: #ff3030;*/
        opacity: 0;
    }

    &__order-btn {
        margin-top: 40px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 40;

    &_disabled {
        display: none;
    }
}

/* END MODAL */

@media (max-width: 1500px) {
    .modal_framed {
        .modal-wrapper {
            padding: 7%;
        }

        .modal__arr {
            top: 7%;
            right: 7%;
            width: 48.24px;
            height: 48.24px;
        }

        .order-modal__input-container:before {
            font-size: 18px;
        }

        .order-modal__input-container_focused:before {
            top: -15px;
        }

        .order-modal__input {
            font-size: 16px;
            height: 40px;
            font-weight: normal;
        }

        .order-modal__course-label {
            font-size: 16px;
        }

        .order-modal__course-label:before {
            width: 23px;
            height: 23px;
        }

        .order-modal__course-label:after {
            width: 15px;
            height: 15px;
            left: 6px;
        }

        .order-modal__order-btn {
            margin-top: 20px;
        }

        .btn {
            padding: 20px 15px;
        }

        .success-modal__title {
            font-size: 24px;
        }

        .success-modal__icon {
            height: 150px;
            width: 150px;
        }
    }
}

@media (max-width: 1440px) {
    .header__title {
        font-size: 20px;
    }

    .header__menu-link {
        font-size: 16px;
    }

    .header__phone {
        font-size: 18px;
    }

    .design__subtitle,
    .programming__subtitle,
    .contacts__questions,
    .future__text {
        font-size: 18px;
    }

    .header__content-title {
        font-size: 64px;
    }

    .header__content-subtitle,
    .words__text {
        font-size: 24px;
    }

    .side-picture__label {
        font-size: 36px;
    }

    .side-picture {
        width: 33%;
        padding: 3%;
    }

    .side-picture__arr {
        width: 51px;
        height: 51px;
    }

    .design__title,
    .programming__title {
        font-size: 64px;
    }

    .design__date-title,
    .design__duration-title,
    .programming__date-title,
    .programming__duration-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .design__date-lessons,
    .design__date-terms,
    .design__duration-lessons,
    .design__duration-terms,
    .programming__date-lessons,
    .programming__date-terms,
    .programming__duration-lessons,
    .programming__duration-terms {
        font-size: 14px;
    }

    .design__order-label,
    .programming__order-label {
        font-size: 18px;
        margin-right: 42px;
    }

    .green-arr-right {
        width: 26px;
        height: 26px;
    }

    .future__slogan,
    .future__title {
        font-size: 36px;
    }


    .title {
        font-size: 48px;
    }

    .teachers__nav-arr {
        width: 24px;
        height: 24px;
    }

    .teachers__nav_left {
        margin-right: 25px;
    }

    .teachers__teacher-name {
        font-size: 14px;
    }

    .teachers__teacher-exp,
    .teachers__teacher-position {
        font-size: 12px;
    }

    .teachers__teacher-info {
        padding: 20px 16px 17px 20px;
    }

    .contacts__phone {
        font-size: 36px;
    }

    .contacts__addinfo-text {
        font-size: 16px;
        margin-top: 7vh;
    }

    .contacts__contacts {
        padding-bottom: 7vh;
    }

}

@media (max-width: 1200px) {
    .future__labels {
        width: 45%;
    }

    .side-picture {
        width: 40%;
    }

    .teachers__content {
        justify-content: flex-start;
    }

    .teachers__slider {
        margin-top: 13vh;
    }

    .header__content-title {
        font-size: 56px;
    }

    .header__nav {
        width: 80%;
    }

    .header__content-subtitle,
    .words__text {
        font-size: 20px;
    }

    .design__subtitle,
    .programming__subtitle,
    .contacts__questions,
    .future__text {
        font-size: 16px;
    }

    .design__title,
    .programming__title {
        font-size: 60px;
    }

    .contacts__soc {
        width: 75%;
    }
}


@media (max-width: 1024px) {
    .header__content {
        justify-content: space-between;
        align-items: flex-start;
    }

    .header__content-title {
        font-size: 52px;
    }

    .words__text {
        width: 90%;
    }

    .design__pic,
    .programming__pic {
        height: 55vh;
    }

    .future__content-picture {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 45vh;
    }

    .side-picture__label {
        font-size: 32px;
    }

    .future__labels {
        width: 50%;
    }

    .contacts__info {
        padding: 5% 5% 6% 3%;
    }

    .contacts__contacts {
        height: 55%;
        padding-bottom: 0;
    }

    .contacts__addinfo-text {
        margin-top: 0;
    }

    section {
        height: auto;
    }

    .header__content {
        position: static;
        padding: 70px 0;
        height: 100%;
    }

    .teachers__content {
        height: auto;
    }

    .words {
        height: auto;
        padding: 100px 0; 
    }

    .programming, .design, .future, .teachers {
        padding: 70px 0;
    }

    .future__content-picture {
        height: 70%;
    }

    .contacts {
        height: 730px;
    }

    .design__pic, 
    .programming__pic {
        height: auto;
        padding: 20% 4% 4%;
    }

    .header__content-picture {
        height: 70%;
    }

    .future__content {
        height: 550px;
    }

    .header {
        height: 700px;
    }
}