@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 18px;
  color: #fff;
  background: #191a1c;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 100% 0%;
  }
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 0;
  cursor: default;
  color: #fff;
  background: linear-gradient(180deg, #FF6F7A 0%, #DA3C92 100%);
  background-size: 100% 400%;
  background-attachment: fixed;
  animation: gradient 20s ease infinite;
  position: relative;
}

main {
  /*overflow: hidden;*/
  /*height: 100vh;*/
}

section {
  width: 100%;
  position: relative;
  height: 100vh;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select,
option {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

.header {
  position: relative;
}

.header:before {
  content: '';
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.2;
}

.wrapper {
  margin: 0 auto;
  width: 91%;
  position: relative;
  height: 100%;
}

.wrapper * {
  z-index: 2;
}

.title {
  font-weight: 800;
  font-size: 64px;
  line-height: 87.5%;
}

.side-picture {
  width: 30%;
  height: 90%;
  position: relative;
  border-radius: 2px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2%;
}

.side-picture__pic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  border-radius: 2px;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
}

.side-picture__label {
  position: relative;
  z-index: 2;
  font-weight: bold;
  width: 90%;
  font-size: 48px;
  line-height: 102.5%;
}

.side-picture__arr {
  position: relative;
  z-index: 2;
  width: 66px;
  height: 66px;
}

/* HEADER */

.animation-area {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 0;
  background: transparent;
}

.animation-area__figures {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.animation-area__figures li {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  animation: animate 25s linear infinite;
  bottom: -150px;
  color: #595757;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-area__figures li:nth-child(1) {
  left: 3%;
  width: 32px;
  border-radius: 100%;
  height: 32px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.animation-area__figures li:nth-child(2) {
  left: 10%;
  width: 77px;
  height: 77px;
  border-radius: 11px;
  color: #595757;
  animation-delay: 2s;
  animation-duration: 15s;
  font-size: 12px;
}

.animation-area__figures li:nth-child(3) {
  left: 20%;
  width: 61px;
  height: 61px;
  border-radius: 100%;
  animation-delay: 4s;
  font-size: 18px;
}

.animation-area__figures li:nth-child(4) {
  left: 30%;
  width: 61px;
  height: 61px;
  border-radius: 9px;
  animation-delay: 0s;
  animation-duration: 14s;
  font-size: 18px;
}

.animation-area__figures li:nth-child(5) {
  left: 45%;
  width: 61px;
  height: 61px;
  animation-delay: 0s;
  border-radius: 9px;
  font-size: 18px;
}

.animation-area__figures li:nth-child(6) {
  left: 55%;
  width: 93.37px;
  height: 94px;
  animation-delay: 3s;
  border-radius: 14px;
  font-size: 15.04px;
  animation-duration: 20s;
}

.animation-area__figures li:nth-child(7) {
  left: 60%;
  width: 77px;
  height: 77px;
  border-radius: 10.9421px;
  animation-delay: 7s;
  font-size: 12px;
}

.animation-area__figures li:nth-child(8) {
  right: 3%;
  width: 93.37px;
  height: 94px;
  border-radius: 13.7867px;
  animation-delay: 15s;
  animation-duration: 45s;
  font-size: 15.04px;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

.menu {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 140px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 95.5%;
}

.header__nav {
  width: 60%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.header__menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__menu-item {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__menu-link {
  height: 100%;
  font-size: 16px;
  line-height: 115.5%;
  color: #fff;
  display: flex;
  align-items: center;
}

.header__phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 138.5%;
  color: #fff;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 70vh;
}

.header__content-labels {
  width: 50%;
}

.header__content-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 101.5%;
  margin-bottom: 50px;
}

.header__content-subtitle {
  font-size: 32px;
  line-height: 150%;
}

.header__content-pic {
  background: url("img/header-pic.png") center/cover no-repeat, linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #2D2C2C 100%), linear-gradient(180deg, #FF6F7A 0%, #DA3C92 100%);
}

/* END HEADER */

/* WORDS */

.words {
  height: 40vh;
}

.words__text {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  line-height: 190%;
}

/* END WORDS */

/* PROGRAMMING AND DESIGN */

.programming .wrapper,
.design .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.programming__container,
.design__container {
  width: 100%;
}

.programming__pic,
.design__pic {
  position: relative;
  padding: 0 4% 4%;
  height: 60vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.programming__pic-pic,
.design__pic-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("img/programming-bg.png") top left/cover no-repeat, #DA3C92;
  opacity: 0.7;
}

.programming__title,
.design__title {
  font-weight: 800;
  font-size: 80px;
  margin-bottom: 48px;
  position: relative;
  z-index: 3;
}

.programming__subtitle,
.design__subtitle {
  font-size: 24px;
  line-height: 150%;
  position: relative;
  z-index: 3;
}

.programming__info,
.design__info {
  background: #2D2C2C;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 2% 4%;
}

.programming__duration,
.programming__date,
.design__duration,
.design__date {
  width: 35%;
}

.programming__duration-title,
.programming__date-title,
.design__duration-title,
.design__date-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 157.5%;
  opacity: 0.5;
}

.programming__duration-terms,
.programming__duration-lessons,
.programming__date-terms,
.programming__date-lessons,
.design__duration-terms,
.design__duration-lessons,
.design__date-terms,
.design__date-lessons {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 157.5%;
}

.programming__duration-terms span,
.programming__date-terms span,
.design__duration-terms span,
.design__date-terms span {
  opacity: 0.8;
}

.programming__order-btn,
.design__order-btn {
  width: 30%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.programming__order-label,
.design__order-label {
  margin-right: 50px;
  color: #9CFF94;
  background: linear-gradient(90deg, #9CFF94 0%, #FAFF00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
}

.green-arr-right {
  width: 34.76px;
  height: 34.75px;
}

/* END PROGRAMMING AND DESIGN */

/* DESIGN */

.design__pic-pic {
  background: url("img/design-bg.png") top left/cover no-repeat, #DA3C92;
}

/* END DESIGN */

/* FUTURE */

.future .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.future__content {
  width: 100%;
  height: 70vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.future__content-pic {
  background: url("img/future-pic.png") top left/cover no-repeat, linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #2D2C2C 100%), linear-gradient(180deg, #FF6F7A 0%, #DA3C92 100%);
}

.future__content-picture {
  width: 33%;
  height: 100%;
}

.future__labels {
  width: 40%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.future__title,
.future__slogan {
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
}

.future__text {
  font-size: 24px;
  line-height: 140%;
}

/* END FUTURE */

/* TEACHERS */

.teachers .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teachers__content {
  width: 100%;
  height: 75vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teachers__header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teachers__nav_left {
  margin-right: 50px;
}

.teachers__nav-arr {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.teachers__slider {
  width: 100%;
}

.teachers__slide {
  position: relative;
  opacity: 0.7;
  transition: all 0.5s ease;
  overflow: hidden;
}

.teachers__slide_hovered {
  opacity: 1;
}

.teachers__slide_hovered .teachers__teacher-info {
  transform: translateY(0%);
}

.teachers__slide img {
  object-fit: cover;
  width: 100%;
  height: auto;
  object-position: center;
}

.teachers__teacher-info {
  position: absolute;
  transform: translateY(100%);
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2D2C2C;
  padding: 24px 30px;
  transition: all 0.5s ease;
}

.teachers__teacher-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 148%;
  margin-bottom: 7px;
}

.teachers__teacher-position,
.teachers__teacher-exp {
  font-size: 16px;
  line-height: 1.8;
}

.teachers__teacher-position {
  width: 100%;
  margin-bottom: 7px;
}

.teachers .slick-slide {
  margin: 0 30px;
}

.teachers .slick-list {
  margin: 0 -30px;
}

/* END TEACHERS */

/* CONTACTS */

.contacts {
  background: rgba(96, 49, 71, 0.2);
}

.contacts .wrapper {
  width: 100%;
}

.contacts__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  height: 100%;
}

.contacts__info {
  width: 50%;
  padding: 10vh 8% 12vh 5%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__contacts {
  height: 60%;
  padding-bottom: 15%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.contacts__addinfo {
  height: 40%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.contacts__addinfo-text {
  font-size: 18px;
  line-height: 157.5%;
}

.contacts__questions {
  font-size: 24px;
  line-height: 163.5%;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10%;
}

.contacts__phone {
  display: inline-block;
  font-weight: bold;
  font-size: 48px;
  line-height: 138.5%;
  color: #fff;
  margin-bottom: 30px;
}

.contacts__soc {
  font-size: 18px;
  line-height: 138.5%;
}

.contacts__soc-link {
  color: #fff;
}

.contacts__map {
  width: 50%;
  height: 100%;
}

/* END CONTACTS */

/* MODAL */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 580px;
  width: 40%;
  z-index: 50;
}

.order-modal {
  background: rgba(45, 44, 44, 0.44);
}

.order-modal-wrapper {
  position: relative;
  padding: 60px;
}

.order-modal__arr {
  position: absolute;
  top: 60px;
  right: 60px;
  transform: rotate(-90deg);
  width: 67px;
  height: 67px;
}

.order-modal__form {
  margin-top: calc(67px + 25px);
}

.order-modal__input-container {
  position: relative;
  border-bottom: 1px solid white;
  margin-bottom: 33px;
}

.order-modal__input-container:before {
  content: '';
  position: absolute;
  display: block;
  color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  z-index: -1;
  transition: all .3s ease;
}

.order-modal__input-container_name:before {
  content: 'Имя';
}

.order-modal__input-container_age:before {
  content: 'Возраст';
}

.order-modal__input-container_course:before {
  content: 'Курс';
}

.order-modal__input-container_error .order-modal__error-msg {
  opacity: 1;
}

.order-modal__input-container_focused:before {
  top: -18px;
  font-size: 12px;
}

.order-modal__input-container_focused:after {
  opacity: 1;
}

.order-modal__input-container_error {
  /* .order-form__input {
                        color: #FF3030;
                        opacity: 0.9;
                    }*/
}

.order-modal__input-container_error .order-modal__error-msg {
  opacity: 1;
}

.order-modal__input {
  background: transparent;
  border: none;
  padding: 0 0 10px 0;
  position: relative;
  outline: none;
  width: 100%;
  height: 45px;
  color: #fff;
  font-size: 24px;
}

.order-modal option {
  background: transparent !important;
}

.order-modal__option {
  background: transparent;
}

.order-modal__error-msg {
  position: absolute;
  left: 0;
  bottom: -25px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: .05em;
  /* color: #ff3030;*/
  opacity: 0;
}

/* END MODAL */